.navbar {
    min-height: 80px;
}

html {
    overflow-x: hidden;
}

.main-content {
    padding: 20px;
    text-align: center;
    color: #fff;
}

.projectkaart {
    margin: 1px;
    padding: 0px;
    transition: all 0.5s;
}

.projectkaart:hover {
    translate: 0px -5px;
    transition: all 0.2s;
}

.kaartlink {
    text-decoration: none;
}

.kaartImage {
    width: 450px;
    height: 250px;
    object-fit: cover;
    border: 1px solid, rgba(0, 0, 0, 0.123);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


